<kendo-appbar>
    <kendo-appbar-spacer width="20px"></kendo-appbar-spacer>
    <kendo-appbar-section class="title">
        EDI
    </kendo-appbar-section>
    <kendo-appbar-section class="appbar-items">
        <ul>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/orderlist']">Order List</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/generic-edi']">Generic EDI</a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['/rules-engine']">Rules Engine</a></li>
        </ul>
    </kendo-appbar-section>
    <kendo-appbar-spacer></kendo-appbar-spacer>
    <kendo-appbar-section class="actions">
        <kendo-badge-container>
            <button kendoButton fillMode="flat" class="notification">
                <kendo-svg-icon [icon]="bellIcon"></kendo-svg-icon>
                <kendo-badge shape="dot" themeColor="warning" size="small" position="inside"></kendo-badge>
            </button>
        </kendo-badge-container>
    </kendo-appbar-section>
    <kendo-appbar-section>
        <kendo-avatar>
            <img src="./assets/images/profile.png" class="profile-img">
        </kendo-avatar>
    </kendo-appbar-section>
    <kendo-appbar-section class="username">
        Dasun Perera
        <kendo-svg-icon [icon]="chevronDownIcon" class="dropdown"></kendo-svg-icon>
    </kendo-appbar-section>
    <kendo-appbar-spacer width="20px"></kendo-appbar-spacer>
</kendo-appbar>
