<div class="sidebar-content">
    <div class="dropdown-area">
        <kendo-label class="drop-title">EDI Doc Type</kendo-label>
        <kendo-dropdownlist class="custom-dropdown"></kendo-dropdownlist>
    </div>
    <div class="group-container">
        <kendo-label class="drop-title">Status</kendo-label>
        <kendo-dropdownlist class="custom-dropdown"></kendo-dropdownlist>
    </div>
    <div class="group-container" >
        <kendo-label class="drop-title">Transaction Control No</kendo-label>
        <kendo-textbox></kendo-textbox>
    </div>
    <div class="group-container" >
        <kendo-label class="drop-title">File Name</kendo-label>
        <kendo-textbox></kendo-textbox>
    </div>
    <div class="group-container" >
        <kendo-label class="drop-title" >Load Date</kendo-label>
        <div class="datepickercontent">
            <kendo-datepicker placeholder="From"></kendo-datepicker>
            <kendo-datepicker placeholder="To"></kendo-datepicker>
        </div>
    </div>
    <div class="side-btngrp">
        <button kendoButton fillMode="solid" class="side-btn"> Search</button>
        <button kendoButton fillMode="outline" class="outline-btn">Clear</button> 
    </div>
</div>
