<div class="sidebar-content">
    <div class="group-container">
        <kendo-label class="drop-title">Ship To</kendo-label>
        <kendo-textbox></kendo-textbox>
    </div>
    <div class="group-container">
        <kendo-label class="drop-title">Address</kendo-label>
        <kendo-textarea [rows]="4" resizable="vertical"></kendo-textarea>
    </div>
    <div class="group-container">
        <kendo-label class="drop-title">Ship To</kendo-label>
        <kendo-textbox></kendo-textbox>
    </div>
</div>