<!-- Header -->
<app-headder></app-headder>
<!-- Container for the entire content -->
<div class="container" [class.open-sidebar]="isSidebarOpen">
  <!-- Button to toggle the sidebar -->
  <div class="filter-button" *ngIf="!isSidebarOpen">
  <button (click)="toggleSidebar()" class="filter" >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill"
      viewBox="0 0 16 16">
      <path
        d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z" />
    </svg>
  </button>
</div>
  <div class="sidebar" *ngIf="isSidebarOpen">
    <!-- Sidebar content goes here -->
    <!-- For example, you can include your sidebar components here -->
    <div class="head-section">
      <div class="title-filter">
        Filter
      </div>
      <div class="close-btn" (click)="toggleSidebar()">
        Close
      </div>
    </div>
    <hr class="separator">
    <app-genericedi-sidebar></app-genericedi-sidebar>
  </div>
  <!-- Main content area (body) -->
  <div class="flex-container">
    <div class="body-container">
      <div class="main-title">
        Generic EDI Viewer
      </div>
      <kendo-grid [data]="gridData">
        <kendo-grid-column field="doc" title="Doc Type"  > </kendo-grid-column>
        <kendo-grid-column field="po" title="PO Number" > </kendo-grid-column>
        <kendo-grid-column field="Account" title="Account Number" > </kendo-grid-column>
        <kendo-grid-column field="customerpo" title="Customer PO" > </kendo-grid-column>
        <kendo-grid-column field="control" title="Control Number" > </kendo-grid-column>
        <kendo-grid-column field="company" title="Company" > </kendo-grid-column>
        <kendo-grid-column field="customer" title="Customer"  > </kendo-grid-column>
        <kendo-grid-column field="invoice" title="Invoice Number" > </kendo-grid-column>
        <kendo-grid-column field="order" title="Order Number"> </kendo-grid-column>
        <kendo-grid-column field="shipment" title="Shipment"> </kendo-grid-column>
      </kendo-grid>
    </div>
    <app-generic-button-container></app-generic-button-container>
  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>
